body { 
    background-image: url("../images/rain.jpg");
}

h1, #giphy-form , #my-buttons {
    text-align: center;
    color: white;
}
h1 {
    margin-top: 20px;
}
#my-buttons {
    margin-left: 100px;
    margin-right: 100px;
}

button {
    margin-right: 10px;
    margin-top: 10px;
}

.gif-info {
    width: 30%;
    float: left;
    color: white;
}
img {
    width: 300px;
    height: 300px;
}
.gif-container {
    margin-left: 100px;
}